rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /nexora_data/{document=**} {
      allow read, write: if true;
    }
    match /nexora_file_chunks/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
